.App {
  text-align: center;
  font-family: "Josefin Slab"; 
  font-style: normal; 
  font-variant: normal;
  font-weight: bold;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBg {
  background-color: #F7D65A;
}

section {
  color: white;
  background-color: black;
}

.img-resize {
  width: 100vw;
  height: 100vh;
}

.footer-content {
  display: inline-flex;
}

.separador {
  margin-top: 0;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0,0,0), #F7D65A, rgba(0,0,0));
  opacity: 1;
}

Carousel {
  padding-bottom: 0;
  margin-bottom: 0;
}

.titulo {
  color: #F7D65A;
  font-size: 8vw;
  margin: 0;
}

.cards-container{
  padding-bottom: 15px;
}

.cards-container2{
  display: flex;
  justify-content: center;
}

.custom-card {
  width: 18rem;
  margin-bottom:20px;
  color: #F7D65A;
  background: linear-gradient(45deg, #F7D65A 100%, #F7D65A 100%);
}

.custom-card-body {
  background-color: black;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}